.rs-header {
	z-index: 1000;
	position: relative;
	width: 100%;
	top: 0;
	left: 0;
	border-bottom: 1px solid #c5c8cc;
	background-color: transparent;
	-webkit-transition: 0.3s ease 0s;
	transition: 0.3s ease 0s;
	-webkit-transition-property: background-color, border;
	transition-property: background-color, border;
}

.rs-header._header-transparent {
	margin-bottom: -100%;
	border-bottom: none;
}

@media (max-width: 991.98px) {
	.rs-header._header-transparent {
		border-bottom: 1px solid #c5c8cc;
	}
}

.rs-header._header-scroll {
	border-bottom: none;
}

.rs-header._header-scroll .rs-header__bottom {
	position: fixed;
	background-color: #fff;
}

.menu-open .rs-header {
	background: #ffffff;
}

.rs-header__top .rs-header__wrapper {
	border-bottom: 1px solid #c5c8cc;
}

@media (max-width: 991.98px) {
	.rs-header__top {
		display: none;
	}
}

@media (min-width: 991.98px) {
	.rs-header__action:nth-child(2) {
		margin: 0px 0px 0px auto;
	}
}

@media (max-width: 991.98px) {
	.rs-header__action {
		padding: 20px 15px;
		border-bottom: 1px solid #f2f2f2;
	}
}

@media (min-width: 991.98px) {
	.rs-header__action ul {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
}

.rs-header__action ul li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 0.02em;
	color: #0d1626;
}

@media (min-width: 991.98px) {
	._header-transparent .rs-header__action ul li {
		color: #fff;
	}

	._header-scroll .rs-header__action ul li {
		color: #0d1626;
	}
}

@media (max-width: 1639.98px) {
	.rs-header__action ul li {
		font-size: 12px;
	}
}

@media (max-width: 1169.98px) {
	.rs-header__action ul li {
		font-size: 11px;
	}
}

@media (max-width: 991.98px) {
	.rs-header__action ul li {
		font-family: "Forum", sans-serif;
		font-weight: 400;
		font-size: 17px;
		color: #0d1626;
	}
}

.rs-header__action ul li:not(:last-child) {
	margin-right: 20px;
}

@media (max-width: 1639.98px) {
	.rs-header__action ul li:not(:last-child) {
		margin-right: 10px;
	}
}

@media (max-width: 991.98px) {
	.rs-header__action ul li:not(:last-child) {
		margin-right: 0px;
		margin-bottom: 20px;
	}
}

.rs-header__action ul li a {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
}

@media (min-width: 991.98px) {
	.rs-header__action ul li a::after {
		content: "";
		position: absolute;
		bottom: 0px;
		right: 0;
		width: 0%;
		height: 1px;
		background-color: #d3b6a0;
		-webkit-transition: width 0.3s ease 0s;
		transition: width 0.3s ease 0s;
	}
}

.rs-header__action ul li span {
	-webkit-transition: color 0.3s ease 0s;
	transition: color 0.3s ease 0s;
}

.rs-header__action ul li svg {
	width: 24px;
	height: 24px;
	margin-right: 7px;
}

@media (max-width: 1639.98px) {
	.rs-header__action ul li svg {
		width: 20px;
		height: 20px;
		margin-right: 5px;
	}
}

.rs-header__action ul li svg path {
	fill: #0d1626;
	-webkit-transition: fill 0.3s ease 0s, stroke 0.3s ease 0s;
	transition: fill 0.3s ease 0s, stroke 0.3s ease 0s;
}

@media (min-width: 991.98px) {
	._header-transparent .rs-header__action ul li svg path {
		fill: #fff;
	}

	._header-scroll .rs-header__action ul li svg path {
		fill: #0d1626;
	}
}

@media (max-width: 991.98px) {
	.rs-header__action ul li svg path {
		fill: #d3b6a0;
	}
}

@media (any-hover: hover) {
	.rs-header__action ul li:hover>a {
		color: #d3b6a0;
	}

	.rs-header__action ul li:hover>a:after {
		width: 100%;
		left: 0;
	}

	.rs-header__action ul li:hover span {
		color: #d3b6a0;
	}

	.rs-header__action ul li:hover svg path {
		fill: #d3b6a0;
	}
}

@media (max-width: 1439.98px) and (min-width: 991.98px) {
	.rs-header__action ul li.user-item span {
		display: none;
	}

	.rs-header__action ul li.user-item svg {
		margin-right: 0px;
	}
}

@media (min-width: 991.98px) {
	.rs-header__action ul li.question-item a {
		color: #d3b6a0;
	}

	.rs-header__action ul li.question-item a::after {
		display: none;
	}
}

.rs-header__action ul li.question-item svg path:first-child {
	fill: none;
	stroke: #d9bca5;
}

.rs-header__action ul li.question-item svg path:last-child {
	fill: #d3b6a0;
	stroke: none;
}

.rs-header__action ul li.search-item {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.rs-header__action ul li.search-item svg path:nth-child(1) {
	fill: transparent;
	stroke: #0d1626;
}

@media (min-width: 991.98px) {
	._header-transparent .rs-header__action ul li.search-item svg path:nth-child(1) {
		stroke: #fff;
	}

	._header-scroll .rs-header__action ul li.search-item svg path:nth-child(1) {
		stroke: #0d1626;
	}
}

.rs-header__action ul li.search-item svg path:nth-child(3) {
	fill: none;
	stroke: #0d1626;
}

@media (min-width: 991.98px) {
	._header-transparent .rs-header__action ul li.search-item svg path:nth-child(3) {
		stroke: #fff;
	}

	._header-scroll .rs-header__action ul li.search-item svg path:nth-child(3) {
		stroke: #0d1626;
	}
}

@media (max-width: 1439.98px) {
	.rs-header__action ul li.search-item span {
		display: none;
	}
}

@media (any-hover: hover) {
	.rs-header__action ul li.search-item:hover svg path:nth-child(1) {
		stroke: #d9bca5;
	}

	.rs-header__action ul li.search-item:hover svg path:nth-child(2) {
		stroke: #d9bca5;
		fill: none;
	}

	.rs-header__action ul li.search-item:hover svg path:nth-child(3) {
		fill: none;
		stroke: #d9bca5;
	}
}

@media (max-width: 991.98px) {

	.rs-header__action ul li.user-item a:after,
	.rs-header__action ul li.question-item a:after {
		content: "";
		position: relative;
		max-width: 13px;
		max-height: 17px;
		min-width: 13px;
		min-height: 17px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		margin: 0px 0px 0px auto;
		background-image: url("../img/icons/caret-arrow-down.svg");
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		-webkit-transition: -webkit-transform 0.3s ease 0s;
		transition: -webkit-transform 0.3s ease 0s;
		transition: transform 0.3s ease 0s;
		transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
		-webkit-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		transform: rotate(-90deg);
	}
}

.rs-header__bvi {
	background-color: #b3794c;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-left: 25px;
}

@media (max-width: 1439.98px) {
	.rs-header__bvi {
		margin-left: 15px;
	}
}

@media (max-width: 991.98px) {
	.rs-header__bvi {
		-webkit-box-ordinal-group: 4;
		-ms-flex-order: 3;
		order: 3;
		margin: 0px 0px 0px auto;
	}
}

@media (any-hover: hover) {
	.rs-header__bvi:hover svg path {
		fill: #000;
	}
}

.rs-header__bvi svg {
	width: 52px;
	height: 52px;
}

@media (max-width: 1639.98px) {
	.rs-header__bvi svg {
		width: 45px;
		height: 45px;
	}
}

@media (max-width: 991.98px) {
	.rs-header__bvi svg {
		width: 54px;
		height: 54px;
	}
}

.rs-header__bvi svg path {
	fill: #fff;
	-webkit-transition: fill 0.3s ease 0s;
	transition: fill 0.3s ease 0s;
}

.rs-header__bottom {
	padding: 15px 0px;
	top: 0;
	left: 0;
	width: 100%;
	background-color: transparent;
	-webkit-transition: background-color 0.3s ease 0s;
	transition: background-color 0.3s ease 0s;
}

@media (max-width: 1669.98px) {
	.rs-header__bottom {
		padding: 10px 0px;
	}
}

@media (max-width: 991.98px) {
	.rs-header__bottom {
		padding: 0px;
	}
}

@media (min-width: 991.98px) {
	.rs-header__bottom .rs-header__wrapper>.rs-header__bvi {
		display: none;
	}
}

.rs-header__wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

@media (min-width: 991.98px) {
	.rs-header__wrapper {
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
}

@media (max-width: 991.98px) {
	.rs-header__wrapper {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
}

.rs-header__logo {
	width: 100%;
	max-width: 105px;
	max-height: 105px;
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

@media (min-width: 991.98px) {
	._header-scroll .rs-header__logo {
		max-width: 64px;
		max-height: 64px;
	}
}

@media (min-width: 991.98px) and (max-width: 1169.98px) {
	._header-scroll .rs-header__logo {
		max-width: 50px;
		max-height: 50px;
	}
}

@media (max-width: 1699.98px) {
	.rs-header__logo {
		max-width: 80px;
		max-height: 80px;
	}
}

@media (max-width: 1439.98px) {
	.rs-header__logo {
		max-width: 64px;
		max-height: 64px;
	}
}

@media (max-width: 1169.98px) {
	.rs-header__logo {
		max-width: 50px;
		max-height: 50px;
	}
}

@media (max-width: 991.98px) {
	.rs-header__logo {
		max-width: 142px;
		max-height: 32px;
		-webkit-box-ordinal-group: 3;
		-ms-flex-order: 2;
		order: 2;
	}
}

.rs-header__logo a {
	width: 100%;
	height: 100%;
	display: block;
}

.rs-header__logo a img {
	width: 100%;
	height: 100%;
	-o-object-fit: contain;
	object-fit: contain;
}

@media (max-width: 991.98px) {
	.rs-header__logo a img.rs-header__logo--desk {
		display: none;
	}
}

@media (min-width: 991.98px) {
	.rs-header__logo a img.rs-header__logo--mob {
		display: none;
	}
}

@media (min-width: 991.98px) {
	.menu {
		-webkit-box-flex: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
		margin-left: 35px;
	}
}

@media (min-width: 991.98px) and (max-width: 1699.98px) {
	.menu {
		margin-left: 15px;
	}
}

@media (max-width: 991.98px) {
	.menu {
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 1;
		order: 1;
		margin: 0px auto 0px 0px;
	}
}

@media (min-width: 991.98px) {
	.menu__icon {
		display: none;
	}
}

@media (max-width: 991.98px) {
	.menu__icon {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		position: relative;
		width: 37px;
		height: 37px;
		cursor: pointer;
		z-index: 5;
		-webkit-transition: all 0.5s ease 0s;
		transition: all 0.5s ease 0s;
	}

	.menu__icon::before,
	.menu__icon::after {
		content: "";
		-webkit-transition: all 0.5s ease 0s;
		transition: all 0.5s ease 0s;
		position: absolute;
		height: 1px;
		width: 100%;
		background: #b3794c;
	}

	._header-transparent .menu__icon::before,
	._header-transparent .menu__icon::after {
		background: #fff;
	}

	._header-scroll .menu__icon::before,
	._header-scroll .menu__icon::after {
		background: #b3794c;
	}

	.menu-open .menu__icon::before,
	.menu-open .menu__icon::after {
		background: #b3794c;
	}

	.menu__icon::before {
		top: 14px;
	}

	.menu__icon::after {
		bottom: 14px;
	}

	.menu-open .menu__icon::before {
		top: calc(50% - 0.5px);
		-webkit-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}

	.menu-open .menu__icon::after {
		bottom: calc(50% - 0.5px);
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
	}
}

.menu__block {
	width: 100%;
}

@media (min-width: 991.98px) {
	.menu__block>.rs-header__action {
		display: none;
	}

	.menu__block>.rs-header__search {
		display: none;
	}
}

@media (max-width: 991.98px) {
	.menu__block {
		position: absolute;
		max-height: calc(100vh - 54px);
		min-height: calc(100vh - 54px);
		top: 100%;
		left: 0;
		-webkit-transform: translateX(-150%);
		-ms-transform: translateX(-150%);
		transform: translateX(-150%);
		overflow-y: auto;
		overflow-x: hidden;
		-webkit-transition: -webkit-transform 0.7s cubic-bezier(0.77, 0, 0.175, 1) 0.1s;
		transition: -webkit-transform 0.7s cubic-bezier(0.77, 0, 0.175, 1) 0.1s;
		transition: transform 0.7s cubic-bezier(0.77, 0, 0.175, 1) 0.1s;
		transition: transform 0.7s cubic-bezier(0.77, 0, 0.175, 1) 0.1s, -webkit-transform 0.7s cubic-bezier(0.77, 0, 0.175, 1) 0.1s;
		z-index: 1;
		background: #fff;
	}

	.menu-open .menu__block {
		-webkit-transform: translateX(0%);
		-ms-transform: translateX(0%);
		transform: translateX(0%);
	}
}

@media (max-width: 991.98px) {
	.menu__block {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.menu__block>* {
		max-width: 768px;
		width: 100%;
	}
}

@media (min-width: 991.98px) {
	.menu__list {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
}

@media (min-width: 991.98px) and (max-width: 1699.98px) {
	.menu__list {
		-webkit-box-pack: end;
		-ms-flex-pack: end;
		justify-content: flex-end;
	}
}

@media (max-width: 991.98px) {
	.menu__list {
		padding: 20px 15px;
		border-bottom: 1px solid #f2f2f2;
	}
}

.menu__list>li:not(:last-child) {
	margin: 0 7.5px;
}

@media (max-width: 1699.98px) {
	.menu__list>li:not(:last-child) {
		margin: 0px 10px;
	}
}

@media (max-width: 1439.98px) {
	.menu__list>li:not(:last-child) {
		margin: 0px 7.5px;
	}
}

@media (max-width: 1169.98px) {
	.menu__list>li:not(:last-child) {
		margin: 0px 5px;
	}
}

@media (max-width: 991.98px) {
	.menu__list>li:not(:last-child) {
		margin: 0px 0px 20px;
	}
}

@media (any-hover: hover) {
	.menu__list>li:hover>a:after {
		width: 100%;
		left: 0;
	}
}

.menu__list>li>a {
	position: relative;
	font-family: "Forum", sans-serif;
	font-weight: 400;
	font-size: 22px;
	letter-spacing: 0.03em;
	color: #0d1626;
}

@media (max-width: 1699.98px) {
	.menu__list>li>a {
		font-size: 18px;
	}
}

@media (max-width: 1439.98px) {
	.menu__list>li>a {
		font-size: 14px;
	}
}

@media (max-width: 1169.98px) {
	.menu__list>li>a {
		font-size: 13px;
	}
}

@media (max-width: 991.98px) {
	.menu__list>li>a {
		font-weight: 400;
		font-size: 17px;
		color: #0d1626;
	}
}

@media (min-width: 991.98px) {
	._header-transparent .menu__list>li>a {
		color: #fff;
	}

	._header-scroll .menu__list>li>a {
		color: #0d1626;
	}
}

@media (min-width: 991.98px) {
	.menu__list>li>a {
		padding-top: 13px;
		padding-bottom: 13px;
	}

	.menu__list>li>a::after {
		content: "";
		position: absolute;
		bottom: 13px;
		right: 0;
		width: 0%;
		height: 1px;
		background-color: #000;
		-webkit-transition: width 0.3s ease 0s;
		transition: width 0.3s ease 0s;
	}

	._header-transparent .menu__list>li>a::after {
		background-color: #fff;
	}

	._header-scroll .menu__list>li>a::after {
		background-color: #000;
	}
}

.menu__list li {
	position: relative;
}

.menu__list li>a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

@media (min-width: 991.98px) {
	.menu__list .menu__dropdown._open-menu>.menu__dropdown-list {
		opacity: 1;
		visibility: visible;
		-webkit-transform: translateY(0px);
		-ms-transform: translateY(0px);
		transform: translateY(0px);
		pointer-events: visible;
	}
}

.menu__list .menu__dropdown._open-menu>a>i {
	-webkit-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	transform: rotate(-180deg);
}

@media (any-hover: hover) and (min-width: 991.98px) {
	.menu__list .menu__dropdown:hover>.menu__dropdown-list {
		opacity: 1;
		visibility: visible;
		-webkit-transform: translateY(0px);
		-ms-transform: translateY(0px);
		transform: translateY(0px);
		pointer-events: visible;
		-webkit-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
	}
}

.menu__list .menu__dropdown-arrow {
	position: relative;
	max-width: 13px;
	max-height: 17px;
	min-width: 13px;
	min-height: 17px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin: 0px 0px 0px auto;
	background-image: url("../img/icons/caret-arrow-down.svg");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	-webkit-transition: -webkit-transform 0.3s ease 0s;
	transition: -webkit-transform 0.3s ease 0s;
	transition: transform 0.3s ease 0s;
	transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

@media (min-width: 991.98px) {
	.menu__list .menu__dropdown-arrow {
		display: none;
	}
}

@media (min-width: 991.98px) {
	.menu__list .menu__dropdown-list {
		position: absolute;
		top: 100%;
		left: -30px;
		pointer-events: none;
		min-width: 268px;
		max-width: 268px;
		display: block;
		opacity: 0;
		visibility: hidden;
		-webkit-transform: translateY(20px);
		-ms-transform: translateY(20px);
		transform: translateY(20px);
		-webkit-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
		z-index: 15;
		-webkit-box-shadow: 11px 10px 38px 0 rgba(46, 63, 99, 0.15);
		box-shadow: 11px 10px 38px 0 rgba(46, 63, 99, 0.15);
		background: #fff;
	}

	.menu__list .menu__dropdown-list li>.menu__dropdown-list {
		top: -30px;
		left: 100%;
	}
}

@media (max-width: 991.98px) {
	.menu__list .menu__dropdown-list {
		padding: 25px 15px 15px;
	}
}

.menu__list .menu__dropdown-list li {
	margin: 0;
	padding: 0;
}

@media (min-width: 991.98px) {
	.menu__list .menu__dropdown-list li:first-child>a {
		padding-top: 30px;
	}

	.menu__list .menu__dropdown-list li:last-child>a {
		padding-bottom: 30px;
	}
}

@media (max-width: 991.98px) {
	.menu__list .menu__dropdown-list li:not(:last-child) {
		margin-bottom: 10px;
	}
}

@media (any-hover: hover) {
	.menu__list .menu__dropdown-list li:hover>a {
		color: #b3794c;
		-webkit-transform: translateX(0px);
		-ms-transform: translateX(0px);
		transform: translateX(0px);
	}

	.menu__list .menu__dropdown-list li:hover>a::before {
		opacity: 1;
	}
}

.menu__list .menu__dropdown-list li a {
	position: relative;
	font-family: "Manrope", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.05em;
	color: #5a5d61;
	-webkit-transform: translateX(-8px);
	-ms-transform: translateX(-8px);
	transform: translateX(-8px);
}

@media (min-width: 991.98px) {
	.menu__list .menu__dropdown-list li a {
		padding: 5px 30px;
	}

	.menu__list .menu__dropdown-list li a::before {
		content: "";
		position: relative;
		display: block;
		min-width: 12px;
		min-height: 12px;
		max-width: 12px;
		max-height: 12px;
		background-image: url("../img/icons/links-hover-icon.svg");
		margin-right: 6px;
		opacity: 0;
		-webkit-transition: opacity 0.3s ease 0s;
		transition: opacity 0.3s ease 0s;
	}
}

@media (max-width: 991.98px) {
	.rs-search {
		background: #f7f2ed;
		padding: 20px 15px;
	}
}

.rs-search__btn {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	cursor: pointer;
}

@media (min-width: 991.98px) {
	.rs-search__btn._active-search span {
		margin-left: 8px;
	}
}

@media (max-width: 991.98px) {
	.rs-search__form {
		width: 100%;
	}
}

@media (max-width: 991.98px) {
	.rs-search__line {
		width: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		padding: 10px 14px;
		background: #fff;
		border-radius: 39px;
	}
}

@media (min-width: 991.98px) {
	.rs-search__input {
		width: 0;
		background-color: transparent;
		-webkit-transition: width 0.3s ease 0s;
		transition: width 0.3s ease 0s;
		border-bottom: 1px solid #000;
		color: #0d1626;
	}

	._header-transparent .rs-search__input {
		border-color: #fff;
		color: #fff;
	}

	._header-scroll .rs-search__input {
		border-color: #000;
		color: #0d1626;
	}

	._active-search .rs-search__input {
		width: 278px;
	}
}

@media (min-width: 991.98px) and (max-width: 1439.98px) {
	._active-search .rs-search__input {
		width: 200px;
	}
}

@media (min-width: 991.98px) and (max-width: 1169.98px) {
	._active-search .rs-search__input {
		width: 150px;
	}
}

@media (max-width: 991.98px) {
	.rs-search__input {
		width: 100%;
	}
}

.rs-search__input::-webkit-search-cancel-button {
	-webkit-appearance: none;
	height: 15px;
	width: 15px;
	border-radius: 50em;
	background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg) no-repeat 50% 50%;
	background-size: contain;
	cursor: pointer;
}

@media (min-width: 991.98px) {
	._header-transparent .rs-search__input::-webkit-search-cancel-button {
		-webkit-filter: invert(1);
		filter: invert(1);
	}

	._header-scroll .rs-search__input::-webkit-search-cancel-button {
		-webkit-filter: invert(0);
		filter: invert(0);
	}
}

@media (max-width: 991.98px) {
	.rs-search__submit {
		margin-right: 6px;
	}

	.rs-search__submit svg path:nth-child(1) {
		stroke: #d9bca5;
	}

	.rs-search__submit svg path:nth-child(2) {
		stroke: #d9bca5;
		fill: none;
	}

	.rs-search__submit svg path:nth-child(3) {
		fill: none;
		stroke: #d9bca5;
	}
}