.rs-services {
  margin: 90px 0px;
}
@media (max-width: 1439.98px) {
  .rs-services {
    margin: 60px 0px;
  }
}
@media (max-width: 991.98px) {
  .rs-services {
    margin: 30px 0px;
  }
}
.rs-services__title {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.rs-services__title .rs-services__lines {
  margin-top: 15px;
}
@media (max-width: 991.98px) {
  .rs-services__title .rs-services__lines {
    margin-top: 5px;
  }
}
.rs-services__body {
  margin-top: 56px;
}
@media (max-width: 1439.98px) {
  .rs-services__body {
    margin-top: 45px;
  }
}
@media (max-width: 991.98px) {
  .rs-services__body {
    margin-top: 30px;
  }
}
.rs-services__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
}
@media (max-width: 1439.98px) {
  .rs-services__list {
    gap: 30px;
  }
}
@media (max-width: 991.98px) {
  .rs-services__list {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}
.rs-services__column {
  text-align: center;
}
.rs-services__head {
  margin-bottom: 20px;
}
@media (max-width: 991.98px) {
  .rs-services__head {
    margin-bottom: 10px;
  }
}
.rs-services__head h3 {
  text-transform: uppercase;
}
@media (max-width: 991.98px) {
  .rs-services__head h3 {
    text-transform: capitalize;
  }
}
.rs-services__item {
  min-height: 135px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
  border: 1px solid #d3b6a0;
  border-radius: 3px;
  position: relative;
  background-color: #fff;
}
@media (max-width: 1439.98px) {
  .rs-services__item {
    min-height: 100px;
    padding: 20px;
  }
}
@media (max-width: 991.98px) {
  .rs-services__item {
    min-height: 84px;
    padding: 15px;
  }
}
.rs-services__item:not(:last-child) {
  margin-bottom: 46px;
}
@media (max-width: 1439.98px) {
  .rs-services__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media (max-width: 991.98px) {
  .rs-services__item:not(:last-child) {
    margin-bottom: 20px;
  }
}
.rs-services__item:not(:last-child)::before {
  content: "";
  position: absolute;
  top: 100%;
  z-index: -1;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 1px;
  height: 46px;
  background: #d3b6a0;
}
@media (max-width: 1439.98px) {
  .rs-services__item:not(:last-child)::before {
    height: 30px;
  }
}
@media (max-width: 991.98px) {
  .rs-services__item:not(:last-child)::before {
    height: 20px;
  }
}